body {
  margin: 0;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
}

header {
  display: grid;
  justify-content: center;
}

main {
  display: grid;
  gap: 1rem;
}

article {
  display: block;
  padding: 1rem;
}
